<header class="navbar navbar-fixed-top"> <div class="navbar-inner">
    <div class="container">
      <%= link_to "Easy MFA", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if current_company %>
            <li><%= link_to "Sign out", destroy_company_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_company_registration_path %></li>
            <li><%= link_to "Sign in", new_company_session_path %></li>
          <% end %>
          <li><%= link_to "About", static_pages_about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

